.overview * {
    box-sizing: border-box;
  }
  
  .overview .react-flow__controls button {
    box-sizing: content-box;
  }
  
  .overview .react-flow__node {
    font-size: 12px;
  }
  
  .edgebutton {
    width: 10px;
    height: 10px;
    background: #eee;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
  }
  
  .edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  }
  
  .react-flow__node-resizer .react-flow__handle,
  .react-flow__node-circle .react-flow__handle,
  .react-flow__node-textinput .react-flow__handle {
    background: #bbb;
  }
  .react-flow__node-redAddress .react-flow__handle{
    background: rgba(255, 0, 0, 0.5);
  }
  .react-flow__node-yellowAddress .react-flow__handle{
    background: rgba(255, 234, 0, 0.5);
  }
  .react-flow__node-circle .react-flow__handle{
    background: rgba(0, 85, 255, 0.5);
  }
  
  .react-flow__node-resizer .react-flow__handle-bottom,
  .react-flow__node-circle .react-flow__handle-bottom,
  .react-flow__node-normalAddress .react-flow__handle-bottom,
  .react-flow__node-redAddress .react-flow__handle-bottom,
  .react-flow__node-yellowAddress .react-flow__handle-bottom,
  .react-flow__node-textinput .react-flow__handle-bottom {
    bottom: -5px;
    transform: none;
    border-radius: 0 0 2px 2px;
  }
  
  .react-flow__node-resizer .react-flow__handle-top,
  .react-flow__node-circle .react-flow__handle-top,
  .react-flow__node-normalAddress .react-flow__handle-top,
  .react-flow__node-redAddress .react-flow__handle-top,
  .react-flow__node-yellowAddress .react-flow__handle-top,
  .react-flow__node-textinput .react-flow__handle-top {
    top: -5px;
    transform: none;
    border-radius: 2px 2px 0 0;
  }
  
  .react-flow__node-resizer .react-flow__handle-left,
  .react-flow__node-circle .react-flow__handle-left,
  .react-flow__node-normalAddress .react-flow__handle-left,
  .react-flow__node-redAddress .react-flow__handle-left,
  .react-flow__node-yellowAddress .react-flow__handle-left,
  .react-flow__node-textinput .react-flow__handle-left {
    height: 8px;
    width: 4px;
    left: -5px;
    border-radius: 2px 0 0 2px;
  }
  
  .react-flow__node-annotation {
    font-size: 16px;
    width: 200px;
    color: rgb(76, 0, 254);
    font-family: monospace;
    position: absolute;
  }
  
  .react-flow__node-annotation .arrow {
    position: absolute;
    font-size: 24px;
  }
  
  .react-flow__node-circle,
  .react-flow__node-textinput {
    color: #fff;
    border-radius: 100%;
    display: flex;
    height: 75px;
    width: 75px;    
    box-shadow:
      6px 2px 15px rgba(42, 138, 246, 0.3),
      -6px 2px 15px rgba(42, 138, 246, 0.3);
    font-family: monospace;
    justify-content: center;
    text-align: center;
  }

  .react-flow__node-normalAddress {
    color: #fff;
    border-radius: 100%;
    display: flex;
    height: 75px;
    width: 75px;
    justify-content: center;
    text-align: center;
  }
  
  .react-flow__node-redAddress {
    color: #fff;
    border-radius: 100%;
    display: flex;
    height: 75px;
    width: 75px;
    box-shadow:
      6px 2px 15px rgba(254, 0, 0, 0.3),
      -6px 2px 15px rgba(254, 0, 0, 0.3);
    justify-content: center;
    text-align: center;
  }

  .react-flow__node-yellowAddress {
    color: #fff;
    border-radius: 100%;
    display: flex;
    height: 75px;
    width: 75px;
    box-shadow:
      6px 2px 15px rgba(246, 255, 0, 0.3),
      -6px 2px 15px rgba(254, 237, 0, 0.3);
    justify-content: center;
    text-align: center;
  }

  
  .react-flow__node-circle .wrapper,
  .react-flow__node-normalAddress .wrapper,
  .react-flow__node-redAddress .wrapper,
  .react-flow__node-yellowAddress .wrapper,
  .react-flow__node-textinput .wrapper {
    overflow: hidden;
    display: flex;
    padding: 2px;
    position: relative;
    border-radius: 100%;
    flex-grow: 1;
  }
  
  .react-flow__node-circle .inner,
  .react-flow__node-normalAddress .inner ,
  .react-flow__node-redAddress .inner,
  .react-flow__node-yellowAddress .inner {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    text-align: center;
  }
  
  .react-flow__node-textinput {
    border-radius: 5px;
    width: 150px;
    text-align: left;
    height: auto;
  }
  
  .react-flow__node-textinput .wrapper {
    border-radius: 5px;
    height: 100%;
  }
  
  .react-flow__node-textinput .inner {
    background: rgba(255, 255, 255, 0.5);
    flex-grow: 1;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    height: 100%;
  }
  
  .react-flow__node-textinput input {
    width: 100%;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 2px 4px;
    color: #555;
  }
  
  .gradient:before {
    content: '';
    position: absolute;
    padding-bottom: calc(100% * 1.41421356237);
    width: calc(100% * 1.41421356237);
 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 1;
  }
  .gradient-input:before {
    background: rgba(0, 110, 255, 0.8);
  }

  .gradient-normal:before {
    background: rgb(128, 128, 128, 0.9)
  }

  .gradient-red:before {
    background: rgb(255,0, 0, 0.8)
  }
  .gradient-yellow:before {
    background: rgba(249, 230, 20, 1)
  }
  
  .react-flow__minimap .group {
    fill-opacity: 0.4;
  }
  
  .react-flow__minimap .resizer,
  .react-flow__minimap .circle,
  .react-flow__minimap .normalAddress,
  .react-flow__minimap .textinput {
    fill: rgb(194, 194, 194);
  }

  .react-flow__minimap .redAddress {
    fill: rgb(255, 0, 0);
  }
  
  .react-flow__minimap .yellowAddress {
    fill: rgb(249, 230, 20);
  }
  
  .react-flow__minimap .circle {
    fill: rgb(54, 67, 255);
  }
  
  .react-flow__minimap .circle,
  .react-flow__minimap .normalAddress,
  .react-flow__minimap .yellowAddress,
  .react-flow__minimap .redAddress {
    rx: 100%;
    ry: 100%;
  }
  
  .react-flow__minimap .annotation {
    display: none;
  }